<p><%=h @subject %></p>

<% @form.class.form_attributes.each do |attribute|
  value = @form.send(attribute)
  next if value.blank? %>

  <p><b><%= @form.class.human_attribute_name(attribute) %>:</b>
  <%= value.include?("\n") ? simple_format(h(value)) : h(value) %></p>
<% end %>
<% unless @form.class.form_appendable.blank? %>
  <p><%= I18n.t :title, :scope => [ :simple_form, :request ], :default => 'Request information' %></p>

  <% @form.class.form_appendable.each do |attribute|
    value = @form.request.send(attribute)
    value = if value.is_a?(Hash) && !value.empty?
      content_tag(:ul, value.to_a.map{|k,v| content_tag(:li, h("#{k}: #{v}")) }.join("\n"))
    else
      h(value.inspect)
    end
  %>

    <p><b><%= I18n.t attribute, :scope => [ :simple_form, :request ], :default => attribute.to_s.humanize %>:</b>
    <%= value.include?("\n") ? simple_format(value) : value %></p>
  <% end %>
<% end %>
